@import '../../../../variables';

:host {
  display: flex;
  .hidden {
    display: none;
  }
  .expand {
    flex: 1;
    max-width: none;
  }

  .project-container:not(.expand):hover,
  .project-container.expand {
    // position: relative;
    // z-index: 100;
    .main-image {
      visibility: visible;
      opacity: 1;
      height: auto;
      display: flex;
      flex: 1;
      overflow: hidden;
      align-items: center;
    }
  }

  .project-container {
    height: auto;
    flex: 1;
    padding: $space-small;
    background-color: $background;
    border: 1px solid;
    border-radius: 10px;
    transition: 1000ms ease-in-out;

    .text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-content: stretch;
    }
    .title {
      flex: 1;
    }
    .subtitle {
      font-size: x-small;
    }

    .main-image {
      transition: 100ms ease-in-out;
      visibility: hidden;
      opacity: 0;
      height: 0;
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .project-container.black-border:hover {
    color: $background;
    background-color: $on-background;
  }
  .project-container.blue-border:hover {
    color: $background;
    background-color: $blue;
  }
  .project-container.cyan-border:hover {
    color: $background;
    background-color: $cyan;
  }
  .project-container.green-border:hover {
    color: $background;
    background-color: $green;
  }
}
