@import '../../../../variables';

:host {
  .size-container {
    height: $month;
  }
  .project-container {
    height: auto;
    flex: 1;
    padding: $space-small;
    background-color: $background;
    border: 1px solid;
    border-radius: 10px;
    transition: transform 2000ms ease-in-out;

    .text {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-content: stretch;
    }
    .title {
      flex: 1;
    }
    .subtitle {
      font-size: x-small;
    }

    .main-image {
      display: none;
      flex: 1;
      overflow: hidden;
      align-items: center;
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .project-container:hover {
    position: relative;
    z-index: 100;
    .main-image {
      display: flex;
    }
  }
  .project-container.black-border:hover {
    color: $background;
    background-color: $on-background;
  }
  .project-container.blue-border:hover {
    color: $background;
    background-color: $blue;
  }
  .project-container.cyan-border:hover {
    color: $background;
    background-color: $cyan;
  }
  .project-container.green-border:hover {
    color: $background;
    background-color: $green;
  }
}
