@import '../../../variables';

:host {
  .footer-container {
    border-top: 1px solid;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: $month;
    justify-content: center;
    padding: $month;
    text-align: center;

    .contact {
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $month;

      img {
        height: 100%;
      }
    }

    .ai-mention {
      font-size: 0.75em;
    }
  }
}
