<div class="footer-container">
  <div class="contact">
    <span class="material-symbols-outlined button" (click)="scrollToTop()">north</span>

    <a href="mailto:contact@gwengustin.ch" class="button"
      ><span class="material-symbols-outlined"> mail </span></a
    >

    <a class="button" href="https://www.linkedin.com/in/gwenaelle-gustin/" target="_blank"
      ><img src="./LinkedIn_icon.svg"
    /></a>

    <a class="button" href="https://github.com/gwenaellegustin" target="_blank"
      ><img src="./Github_logo.svg"
    /></a>

    <a class="button" href="https://www.instagram.com/gwengustin/" target="_blank"
      ><img src="./Instagram_logo.svg"
    /></a>
  </div>

  <span class="ai-mention">No AI was used in the creation of this site.</span>
</div>
