@import '../../../variables';

:host {
  @keyframes myAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .footer-container {
    animation-name: myAnimation;
    animation-duration: 1s;
    // border-top: 1px solid;
    padding: $space-small $space;
    display: flex;
    flex-direction: column;
    gap: calc($space / 2);
    justify-content: center;

    text-align: center;

    .contact {
      height: $space-big;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $space-small;

      img {
        height: 100%;
      }
    }

    .small-mention {
      font-size: 0.75em;
    }
    a {
      text-decoration: underline;
    }
  }
}
