@import '../../../variables';

:host {
  z-index: 100; /*above date*/

  .logo {
    position: fixed;
    top: $space-smallest;
    left: $space-smallest;
    display: flex;
    align-items: center;
    width: $head-width;
    height: auto;

    background-color: $background;
    border-radius: $month;
    padding: $space;
  }
  #legend {
    position: fixed;
    top: $space-smallest;
    right: $space;
    display: flex;
    align-items: center;
    max-width: $head-width;
    // background-color: $background;
    border-radius: $month;
    padding: $space-small $space-bigger;
    text-align: end;
    transition: 300ms ease-in-out;
  }
}
