:host {
  .top-bar {
    // position: sticky;
    // top: 0;
    // z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vw;
    max-height: 40px;

    .logo {
      height: auto;
      max-height: 100%;
      max-width: 40vw;
    }

    .contact {
      max-width: 40vw;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 16px;
      @media only screen and (max-width: 600px) {
        p {
          display: none;
        }
      }
      .racoon-face {
        max-height: 100%;
        height: auto;
        max-width: 10vw;
      }
    }
  }
}
