@import '../../../variables';

:host {
  .top-bar {
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-small $space;
    height: $app-bar-height;
    //border-bottom: 1px solid;

    .flex {
      flex: 1;
    }
    .legend {
      display: flex;
      gap: $space;
      justify-content: center;
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 15px;
      height: 75%;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      .logo,
      img {
        height: auto;
        max-height: 100%;
        max-width: 40vw;
      }
    }
  }
}
