@import '../../../variables';

:host {
  .date-text {
    opacity: 0;
    display: flex;
    position: relative;
    transition: 500ms ease-in;
    transition-delay: 100ms;
    span {
      align-self: flex-end;
      padding-bottom: $space-small;
    }
  }
  .month:hover .date-text {
    opacity: 100%;
  }
  @keyframes topToBottom {
    from {
      opacity: 0;
      transform: translateY(-$space);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .container {
    animation: topToBottom ease 0.4s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $space $page-margin;
    .month:hover {
      border-bottom: 1px solid $on-background;
    }
    .month {
      display: flex;
      flex-direction: row;
      gap: $page-gap;
      margin: -$space-smallest 0;
      border-bottom: 1px solid $background;
      transition: 500ms ease-in;

      .cell {
        // border: 1px solid rgb(196, 193, 193);
        flex: 1;
        display: flex;
        justify-content: space-around;
        transition: 500ms ease-in-out;
        transition-delay: 100ms;
        overflow: hidden; // remove glitch timeline
      }
      .cell.default {
        opacity: 100;
      }
      .cell.hidden {
        flex: 0;
        width: 0;
      }
      .cell.empty {
        opacity: 0;
      }
      .cell.opened {
        flex: 1;
        max-width: none;
        opacity: 100;
      }

      // Column center with timelines
      .col3 {
        max-width: $column-width; // when removing other column
        min-height: $space-small;
        .color-element {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .timeline {
            width: $width-line;
            height: 100%;
            min-height: $month;
            border-radius: $month;
          }
          .commit {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .top-line {
              height: calc($space-smallest * 10);
              width: $width-line;
              margin: -$space-smallest 0;
              border-radius: $month;
            }
            .point {
              height: $space;
              width: $space;
              border-radius: $month;
              transition: 100ms ease-in-out;
            }
            .bottom-line {
              flex: 1;
              width: $width-line;
              margin: -2px 0;
              border-radius: $month;
            }
          }
          .commit.hover,
          .commit.opened {
            .point {
              height: $month;
              width: $month;
              margin-top: calc($month / 4 * -1);
            }
          }
        }
        .dot {
          height: $space-small;
          width: $space-small;
          border-radius: $month;
          margin: $space-smallest 0;
        }
      }

      .project-container {
        flex: 1;
        margin-top: $space-small; // space between project container
        padding: {
          top: $space-small; // align to bottom line
          left: $space;
          right: $space;
        }
        overflow: hidden;
        scroll-margin: calc($app-bar-height + 2 * $space);
        .first-line {
          transition: 100ms ease-in-out;
          border: 2px solid;
          border-radius: $month;
          padding: $space-small $space;
          height: $space-bigger;
          cursor: pointer;
          display: flex;
          // gap: $space;
          .text {
            flex: 1;
            display: flex;
            flex-direction: column;
            .subtitle {
              font-size: x-small;
            }
          }
          .close {
            display: none;
          }
        }

        .content {
          border: solid $background 1px; // this fix to auto height
          transition: 300ms ease-in-out;
          transition-delay: 500ms;
          flex-wrap: wrap;
          gap: $space;
          margin: $space;
          opacity: 0;
          width: 0;
          height: 0;
          p {
            height: 0;
          }
        }
      }
      .project-container.hidden {
        padding: 0;
      }
      .project-container.opened {
        .close {
          cursor: pointer;
          display: block;
          align-items: center;
        }
        .content {
          opacity: 100;
          width: auto;
          height: auto;
          // transition: 100ms ease-in-out;
          // transition-delay: 0;
          .image {
            flex-basis: 30%;
            img,
            video {
              max-height: 80vh;
              max-width: 100%;
            }
          }
        }
      }

      .first-line.black-border.hover,
      .first-line.black-border.opened {
        color: $background;
        background-color: $on-background;
      }
      .first-line.blue-border.hover,
      .first-line.blue-border.opened {
        color: $background;
        background-color: $blue;
      }
      .first-line.cyan-border.hover,
      .first-line.cyan-border.opened {
        color: $background;
        background-color: $cyan;
      }
      .first-line.green-border.hover,
      .first-line.green-border.opened {
        color: $background;
        background-color: $green;
      }
      .first-line.red-border.hover,
      .first-line.red-border.opened {
        color: $background;
        background-color: $red;
      }
      .first-line.orange-border.hover,
      .first-line.orange-border.opened {
        color: $background;
        background-color: $orange;
      }
    }
  }

  .racoon {
    height: $month;
    padding-bottom: $space;
    img {
      height: 100%;
    }
  }

  @media only screen and (max-width: 1000px) {
    .col1.cell,
    .col5.cell {
      flex: 0 !important;
    }
  }
}
