<div class="container">
  @for (monthYear of dateMap | keyvalue; track monthYear.key) {
    <div class="month" [id]="monthYear.value">
      <div
        class="col1 cell default"
        [id]="'col1-' + monthYear.value"
        [ngClass]="monthYear.value"
      ></div>

      <div class="col2 cell default" [id]="'col2-' + monthYear.value" [ngClass]="monthYear.value">
        @for (project of projects; track project) {
          @if (project.dateKey == monthYear.value && project.position == 'left') {
            <!-- @TODO: fix not hover effect on scroll -->
            <div
              class="project-container"
              [id]="project.key"
              [ngClass]="getColorProject(project.contextKey) + '-border'"
              (click)="openProject(project.key)"
              (mouseenter)="hoverProject(project.key)"
              (mouseleave)="leaveProject(project.key)"
            >
              <div class="text">
                <div class="title">
                  {{ project.title }}
                </div>
                <div class="subtitle">{{ project.subtitle }}</div>
              </div>

              <div class="main-image">
                <img [src]="project.images[0].url" onerror="this.style.visibility = 'hidden'" />
              </div>
              <div class="content">
                <span class="intro-text" [innerHTML]="project.description"></span>

                @for (image of project.images; track $index) {
                  @if (image.url !== '' && $index != 0) {
                    <div class="image">
                      @if (image.url.endsWith('.mp4') || image.url.endsWith('.mov')) {
                        <span>{{ image.text }}</span>
                        <video autoplay loop controls>
                          <source [src]="image.url" type="video/mp4" />
                        </video>
                      } @else {
                        <span>{{ image.text }}</span>
                        <img [src]="image.url" onerror="this.style.visibility = 'hidden'" />
                      }
                    </div>
                  }
                }
              </div>
            </div>
          }
        }
      </div>

      <div class="col3 cell default" [id]="'col3-' + monthYear.value" [ngClass]="monthYear.value">
        @for (timeline of timelines | keyvalue; track $index) {
          <div class="color-element">
            @if (isProjectInTimelineSegment(timeline.value, monthYear.value)) {
              <div
                class="commit"
                [id]="'commit-' + getProjectByDate(monthYear.value)?.key"
                (click)="openProject(getProjectByDate(monthYear.value)?.key || '')"
                (mouseenter)="hoverProject(getProjectByDate(monthYear.value)?.key || '')"
                (mouseleave)="leaveProject(getProjectByDate(monthYear.value)?.key || '')"
              >
                <div
                  class="point"
                  [ngClass]="
                    this.getColorProject(getProjectByDate(monthYear.value)?.contextKey || '') +
                    '-background'
                  "
                ></div>
                <div
                  class="bottom-line"
                  [ngClass]="
                    this.getColorProject(getProjectByDate(monthYear.value)?.contextKey || '') +
                    '-background'
                  "
                ></div>
              </div>
            } @else {
              <div
                class="timeline"
                [ngClass]="getColorForDate(monthYear.value, timeline.value) + '-background'"
              ></div>
            }
          </div>
        }
      </div>

      <div class="col4 cell default" [id]="'col4-' + monthYear.value" [ngClass]="monthYear.value">
        @for (project of projects; track project) {
          @if (project.dateKey == monthYear.value && project.position == 'right') {
            <div
              class="project-container"
              [id]="project.key"
              [ngClass]="getColorProject(project.contextKey) + '-border'"
              (click)="openProject(project.key)"
              (mouseenter)="hoverProject(project.key)"
              (mouseleave)="leaveProject(project.key)"
            >
              <div class="text">
                <div class="title">
                  {{ project.title }}
                </div>
                <div class="subtitle">{{ project.subtitle }}</div>
              </div>

              <div class="main-image">
                <img [src]="project.images[0].url" onerror="this.style.visibility = 'hidden'" />
              </div>
              <div class="content">
                <span class="intro-text" [innerHTML]="project.description"></span>

                @for (image of project.images; track $index) {
                  @if (image.url !== '' && $index != 0) {
                    <div class="image">
                      @if (image.url.endsWith('.mp4') || image.url.endsWith('.mov')) {
                        <span>{{ image.text }}</span>
                        <video autoplay loop controls>
                          <source [src]="image.url" type="video/mp4" />
                        </video>
                      } @else {
                        <span>{{ image.text }}</span>
                        <img [src]="image.url" onerror="this.style.visibility = 'hidden'" />
                      }
                    </div>
                  }
                }
              </div>
            </div>
            <!-- <app-mini-project
            [project]="project"
            [color]="getColorProject(project.contextKey)"
            [idElement]="'col2-' + monthYear.value"
          ></app-mini-project> -->
          }
        }
      </div>

      <div
        class="col5 cell default"
        [id]="'col5-' + monthYear.value"
        [ngClass]="monthYear.value"
      ></div>
    </div>
  }
</div>
