<div class="container">
  <div class="columns">
    <div class="column">
      Column1<br />2<br />3<br />4<br />5<br />6<br />8<br />9<br />10<br />11<br />12
    </div>
    <div class="column">Column2</div>

    <div class="timelines">
      @for (timeline of timelines | keyvalue; track $index) {
        <div class="timeline">
          @for (monthYear of dateMap | keyvalue; track monthYear.key) {
            @if (getColorForDate(monthYear.value, timeline.value)) {
              <div
                [id]="timeline.key + monthYear.key"
                class="month"
                [ngClass]="getColorForDate(monthYear.value, timeline.value) + '-background'"
              ></div>
            } @else if (monthYear.key >= 13 && monthYear.key <= 24) {
              <!-- year with no date "..." -->
              @if (timeline.key == '3-MAIN') {
                <div
                  class="dot"
                  [id]="timeline.key + monthYear.key"
                  [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
                ></div>
              } @else {
                <div [id]="timeline.key + monthYear.key" class="month"></div>
              }
            } @else {
              <!-- invisible -->
              <div [id]="timeline.key + monthYear.key" class="month"></div>
            }
          }
          <!-- 3 dots if still on going -->
          @if (timeline.value[0].yearEnd == 0 && timeline.value[0].monthEnd == 0) {
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
          }
        </div>
      }
    </div>
    <div class="column">
      @for (monthYear of dateMap | keyvalue; track monthYear.key) {
        @if (getProjectsForDate(monthYear.value).length > 0) {
          @for (project of getProjectsForDate(monthYear.value); track project.title) {
            <div class="project-line">{{ project.title }}</div>
          }
        } @else {
          <div class="project-line"></div>
        }
      }
    </div>
    <div class="column">Column5</div>
  </div>

  <div class="background no-size">
    @for (year of years | keyvalue; track year) {
      <div class="year">
        <div class="text">{{ year.value }}</div>
      </div>
    }

    <div class="year">
      <div class="text">...</div>
    </div>
    <div class="year"><div class="text">1996</div></div>
  </div>
</div>
