@import '../../../variables';

:host {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 $page-margin;
    transition: 1000ms ease-in-out; //TODO transition
    .month {
      display: flex;
      flex-direction: row;
      gap: $page-gap;

      // @media only screen and (max-width: 1000px) {
      //   .col1,
      //   .col5 {
      //     flex: 0;
      //     background-color: blue;
      //   }
      // }

      .cell {
        transition: 500ms ease-in-out;
        display: flex;
        justify-content: space-around;
        // border: 1px solid rgb(196, 193, 193);
      }
      .cell.default {
        flex: 1;
        opacity: 100;
        // max-width: $column-width;
      }
      .cell.hidden {
        flex: 0;
        opacity: 0;
        width: 0;
      }
      .cell.empty {
        flex: 1;
        opacity: 0;
      }
      .cell.opened {
        flex: 1;
        max-width: none;
        opacity: 100;
      }

      // Column center with timelines
      .col3 {
        max-width: $column-width; // when removing other column
        .color-element {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: -2px 0;
          .timeline {
            width: $width-line;
            height: 100%;
            min-height: $month;
            border-radius: $month;
          }
          .commit {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .top-line {
              height: $space-smallest;
              width: $width-line;
            }
            .point {
              height: $space;
              width: $space;
              border-radius: $month;
              margin: -1px 0;
              transition: 100ms ease-in-out;
            }
            .bottom-line {
              flex: 1;
              width: $width-line;
            }
          }
          .commit.hover,
          .commit.opened {
            .point {
              height: $month;
              width: $month;
            }
          }
        }
      }

      .project-container {
        flex: 1;
        height: auto;
        padding: $space-small;
        margin: 2px;
        background-color: $background;
        border: 2px solid;
        border-radius: 10px;
        overflow: hidden;

        .text {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          align-content: stretch;
        }
        .title {
          flex: 1;
        }
        .subtitle {
          font-size: x-small;
        }

        .main-image {
          transition: 500ms ease-in-out;
          visibility: hidden;
          opacity: 0;
          height: 0;
          img {
            height: auto;
            width: 100%;
          }
        }
        .content {
          border: solid $background 1px; // this fix to auto height
          transition: 500ms ease-in-out;
          visibility: hidden;
          width: 0;
          height: 0;
          p {
            height: 0;
          }
        }
      }
      .project-container.hidden {
        width: 0;
        padding: 0;
        border-style: none;
      }
      .project-container.opened {
        // height: calc(80svh - $app-bar-height); //@TODO fix math
        overflow-y: scroll;
        padding: $space-small;
        border-style: solid;
        .title {
          font-size: x-large;
        }
        .subtitle {
          font-size: small;
        }
        .main-image {
          visibility: visible;
          opacity: 1;
          height: auto;
          display: flex;
          flex: 1;
          overflow: hidden;
          align-items: center;
        }
        .content {
          visibility: visible;
          height: auto;
          width: 100%;
          .image {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            img,
            video {
              max-height: 80vh;
              max-width: 100%;
            }
          }
        }
      }
      .project-container.hover:not(.hidden) {
        .main-image {
          visibility: visible;
          opacity: 1;
          height: auto;
          display: flex;
          flex: 1;
          overflow: hidden;
          align-items: center;
        }
      }
      // .project-container:not(.opened).black-border:hover {
      //   color: $background;
      //   background-color: $on-background;
      // }
      // .project-container:not(.opened).blue-border:hover {
      //   color: $background;
      //   background-color: $blue;
      // }
      // .project-container:not(.opened).cyan-border:hover {
      //   color: $background;
      //   background-color: $cyan;
      // }
      // .project-container:not(.opened).green-border:hover {
      //   color: $background;
      //   background-color: $green;
      // }
      // .project-container:not(.opened).red-border:hover {
      //   color: $background;
      //   background-color: $red;
      // }
    }
  }
}
