:host {
  // ! TIMELINES and dots -------------------------------
  .timelines-area {
    display: flex;

    .background {
      display: flex;
      flex-direction: column;
      z-index: -1;
      height: calc(240px * 12);
      .year {
        height: calc(240px + 1px); // year + 1 px of error ?
        width: 100vw;
        border-top: 1px solid;
        opacity: 0.2;
        text-align: end; // Right align
        align-self: flex-end;
        position: relative;
        .text {
          position: absolute;
          bottom: 0;
          right: 20px;
        }
      }
    }
    .timelines {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: auto;
      width: 100vw;
    }
  }
  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .year {
    width: 10px;
    height: 240px;
  }
  .month {
    width: 10px;
    height: 22px;
    margin: -1px 0;
  }
  .dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      width: 10px;
      height: 10px;
    }
  }
  .dots.end {
    margin-bottom: 10px;
  }
  .dots.start {
    margin-top: 10px;
  }
  .point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .racoon-face {
    height: 40px;
  }
}

// ! TITLES (job/school) -------------------------------

.titles {
  padding: 0 25px;
  max-width: 15vw;
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .titles {
    display: none;
  }
}
.titles-right {
  text-align: right;
  margin-right: 40px;
}
.title-container {
  .sticky {
    background-color: white;
    padding: 10px 0;
  }
}

.title-container.PM {
  margin-top: calc(20px * 3);
  height: calc(20px * 11);
}
.title-container.HES {
  height: calc(25px * 21);
}
.title-container.VDS2 {
  height: calc(25px * 15);
}
.title-container.VDS1 {
  margin-top: calc(20px * 23);
  height: calc(25px * 15);
}
.title-container.DXD {
  margin-top: calc(20px * 3);
  height: calc(20px * 13);
}
.title-container.Up4it {
  height: calc(20px * 17);
}
.title-container.BSC {
  padding-top: calc(20px * 7);
  height: calc(20px * 48);
}
.title-container.SIR {
  padding-top: calc(20px * 2);
  height: calc(20px * 10);
}
.title-container.FITSPRO {
  padding-top: calc(20px);
  height: calc(20px * 4);
}
.title-container.EPFL {
  padding-top: calc(20px);
  height: calc(20px * 4);
}
.title-container.MAT {
  padding-top: calc(20px * 2);
  height: calc(20px * 8);
}
.right.black {
  margin-left: 40px;
  margin-top: -10px;
}

// ! PROJECT -------------------------------
.project-container {
  padding: 10px;
  display: flex;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  .text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .subtitle {
    font-size: x-small;
  }

  .img {
    display: flex;
    flex: 1;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.project-container:active {
  filter: brightness(90%);
}

.project-container.right {
  margin: -20px calc(1 * 20px);
}

.project-container.left {
  margin: -20px calc(-20vw - 2 * 20px);
}

.project-container.hb {
  margin: -20px calc(-20vw - 80px);
}

@media only screen and (min-width: 1000px) {
  .project-container {
    justify-content: space-evenly;
    width: 20vw;
    gap: 5px;
  }
  .text,
  .img {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .project-container {
    flex-direction: column;
    width: 15vw;
  }

  .text {
    font-size: small;
    word-break: break-all;
  }

  .project-container.left {
    margin: -20px calc(-15vw - 40px);
  }

  .project-container.hb {
    margin: -20px calc(-15vw - 80px);
  }
}

@media only screen and (max-width: 600px) {
  .project-container {
    justify-content: space-evenly;
    width: 30vw;
    gap: 5px;
  }

  .project-container.left {
    margin: -20px calc(-30vw - 40px);
  }

  .project-container.hb {
    margin: -20px calc(-30vw - 80px);
  }
}
