:host {
  .top-bar {
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    .contact {
      display: flex;
      align-items: center;
      gap: 20px;
      .racoon-face {
        height: 50px;
        width: auto;
      }
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    width: 0;
    z-index: -1;
    height: calc(240px * 12);
    .year {
      height: calc(240px + 1px); // year + 1 px of error ?
      width: 100vw;
      border-bottom: 1px solid grey;
      text-align: end; // Right align
      align-self: flex-end;
      position: relative;
      .text {
        position: absolute;
        bottom: 0;
        right: 20px;
        img {
          height: 50px;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }
    }
  }

  .timelines-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .timelines {
      margin: 0 auto;
      display: flex;
      gap: 50px;
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .year {
    width: 10px;
    height: 240px;
  }

  .month {
    width: 10px;
    height: 22px;
    margin: -1px 0;
  }

  .dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      width: 10px;
      height: 10px;
    }
  }
  .dots.end {
    margin-bottom: 10px;
  }
  .dots.start {
    margin-top: 10px;
  }
  .point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
  }

  .black {
    background-color: black;
    z-index: 0;
  }

  // DXD
  .blue {
    background-color: #354be2;
  }
  // PM
  .pink {
    background-color: #ce5e5d;
  }
  // HES
  .light-blue {
    background-color: #4fa8e6;
  }
  // PM
  .green {
    background-color: #41d8ae;
  }
}
