:host {
  .flex {
    display: flex;
    height: 100vh;
  }

  .text-left {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    overflow: auto;
    img {
      width: 50%;
    }
    h4,
    p {
      width: 50%;
      text-justify: auto;
    }
    #description {
      flex-grow: 1;
    }
    .contact {
      display: flex;
      align-items: center;
      gap: 20px;
      .racoon-face {
        height: 50px;
        width: auto;
      }
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    width: 0;
    z-index: -1;
    height: calc(24 * 100px);
    .year {
      width: 50vw;
      height: calc(2 * 100px);
      border-top: 1px solid grey;
      text-align: end;
      align-self: flex-end;
    }
    .racoon-body {
      width: auto;
      align-self: flex-end;
      img {
        height: 50px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }
  }

  .timelines-right {
    width: 50%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: flex-end;
    .timelines {
      margin: auto;
      display: flex;
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .interact:hover {
    cursor: pointer;
  }
  .not-hover {
    filter: grayscale(1);
  }

  .square {
    width: 10px;
    height: 10px;
  }
  .line {
    width: 10px;
    z-index: 10;
  }
  .point {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 20;
  }

  .black {
    background-color: black;
    z-index: 0;
  }
  .line.black {
    height: calc(20 * 100px - 60px);
  }
  .line.black.short {
    height: calc(1 * 100px - 30px);
  }
  .point.black {
    margin: -10px;
  }

  // DXD
  .blue {
    background-color: #354be2;
  }
  .line-dxd {
    background-color: #354be2;
    height: calc(3 * 100px - 100px + 1px);
  }
  .start-dxd {
    margin-left: -10px;
    padding-top: calc((3 * 100px) - 40px);
  }

  // PM
  .pink {
    background-color: #ce5e5d;
  }
  .line-pm {
    height: calc((13 * 100px) - 60px + 1px);
  }
  .start-pm {
    margin-right: -10px;
    padding-top: calc((13 * 100px));
  }

  // HES
  .light-blue {
    background-color: #4fa8e6;
  }
  .line-HES {
    margin-left: -10px;
    margin-top: calc((3 * 100px) + 30px - 1px);
    height: calc((4 * 100px) - 30px + 2px);
  }
  .start-HES {
    margin-left: -50px;
    padding-top: calc((7 * 100px));
  }
  .end-HES {
    margin-left: -100px;
    margin-top: calc((3 * 100px));
  }
  .commit-HES {
    margin-top: calc((4.5 * 100px));
    margin-left: -17.5px;
  }

  // PM
  .green {
    background-color: #41d8ae;
    margin-left: -10px;
  }
  .line-up4it {
    height: calc((5 * 100px) - 60px + 1px);
  }
  .start-up4it {
    margin-left: -100px;
    padding-top: calc((5 * 100px));
  }
}
