<div class="container">
  <div class="columns">
    <div class="column one">
      <app-mini-project></app-mini-project>
    </div>
    <div class="column two">
      @for (monthYear of dateMap | keyvalue; track monthYear.key) {
        <!-- @TODO this left right columns with set of data define at init -->
        @if (getProjectsByColumnWithDate(monthYear.value, 'left').length > 0) {
          @for (
            project of getProjectsByColumnWithDate(monthYear.value, 'left');
            track project.title
          ) {
            <app-mini-project
              [project]="project"
              [color]="getColor(project.contextKey)"
            ></app-mini-project>
          }
        } @else {
          <div class="project-line line"></div>
        }
      }
    </div>

    <div class="timelines">
      @for (timeline of timelines | keyvalue; track $index) {
        <div class="timeline">
          @for (monthYear of dateMap | keyvalue; track monthYear.key) {
            @if (getColorForDate(monthYear.value, timeline.value)) {
              <div
                [id]="getIdSegment(timeline.value, monthYear.value)"
                class="month"
                [ngClass]="getColorForDate(monthYear.value, timeline.value) + '-background'"
              ></div>
            } @else if (monthYear.key >= 13 && monthYear.key <= 24) {
              <!-- year with no date "..." -->
              @if (timeline.key == '3-MAIN') {
                <div
                  class="dot"
                  [id]="getIdSegment(timeline.value, monthYear.value)"
                  [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
                ></div>
              } @else {
                <div class="month"></div>
              }
            } @else {
              <!-- invisible -->
              <div class="month"></div>
            }
          }
          <!-- 3 dots if still on going -->
          @if (timeline.value[0].yearEnd == 0 && timeline.value[0].monthEnd == 0) {
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
            <div
              class="dot"
              [ngClass]="getColor(timeline.value[0].contextKey) + '-background'"
            ></div>
          }
        </div>
      }
    </div>
    <div class="column four">
      @for (monthYear of dateMap | keyvalue; track monthYear.key) {
        <!-- @TODO this left right columns with set of data define at init -->
        @if (getProjectsByColumnWithDate(monthYear.value, 'right').length > 0) {
          @for (
            project of getProjectsByColumnWithDate(monthYear.value, 'right');
            track project.title
          ) {
            <app-mini-project
              [project]="project"
              [color]="getColor(project.contextKey)"
            ></app-mini-project>
          }
        } @else {
          <div class="project-line line"></div>
        }
      }
    </div>
    <div class="column five">
      <app-mini-project></app-mini-project>
    </div>
  </div>

  <div class="background no-size">
    @for (year of years | keyvalue; track year) {
      <div class="year">
        <div class="text">{{ year.value }}</div>
      </div>
    }

    <div class="year">
      <div class="text">...</div>
    </div>
    <div class="year"><div class="text">1996</div></div>
  </div>
</div>
