:host {
  overflow-wrap: break-word;

  .titles {
    padding: 0 20px;
  }
  .titles-right {
    text-align: right;
  }
  .timelines-area {
    display: flex;

    .background {
      display: flex;
      flex-direction: column;
      z-index: -1;
      height: calc(240px * 12);
      .year {
        height: calc(240px + 1px); // year + 1 px of error ?
        width: 100vw;
        border-top: 1px solid grey;
        text-align: end; // Right align
        align-self: flex-end;
        position: relative;
        .text {
          position: absolute;
          bottom: 0;
          right: 20px;
          img {
            height: 50px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }
      }
    }
    .timelines {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 100vw;
    }
  }

  .timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .year {
    width: 10px;
    height: 240px;
  }

  .month {
    width: 10px;
    height: 22px;
    margin: -1px 0;
  }

  .dots {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div {
      width: 10px;
      height: 10px;
    }
  }
  .dots.end {
    margin-bottom: 10px;
  }
  .dots.start {
    margin-top: 10px;
  }
  .point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.no-size {
  width: 0;
  height: 0;
  z-index: 10;
}
.sticky {
  position: sticky;
  top: 0;
}

.title-container.PM {
  margin-top: calc(20px * 3);
  height: calc(20px * 11);
}
.title-container.HES {
  height: calc(25px * 21);
}
.title-container.VDS2 {
  height: calc(25px * 15);
}
.title-container.VDS1 {
  margin-top: calc(20px * 23);
  height: calc(25px * 15);
}
.title-container.DXD {
  height: calc(20px * 16);
}
.title-container.Up4it {
  height: calc(20px * 17);
}
.title-container.BSC {
  padding-top: calc(20px * 7);
  height: calc(20px * 48);
}

.project-container {
  display: flex;
  justify-content: space-between;

  // flex-wrap: wrap;
  width: 240px;
  padding: 5px 10px;
  gap: 5px;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  text-decoration: none;
  .text,
  .img {
    display: flex;
    justify-content: center;
  }
  img {
    max-height: 100px;
    width: 100%;
  }
}

.project-container.right {
  margin: -20px 30px;
}

.project-container.left {
  margin: -20px calc(-240px - 50px);
}

.project-container.hb {
  margin: -20px calc(-240px - 120px);
}

.black {
  background-color: black;
}
.black-border {
  color: black;
}
.project-container.black-border:hover {
  color: white;
  background-color: black;
}
// DXD
.blue {
  color: #354be2;
}
.blue-background {
  background-color: #354be2;
}
.blue-border {
  color: #354be2;
  border-color: #354be2;
}
.project-container.blue-border:hover {
  color: white;
  background-color: #354be2;
}
// PM
.pink {
  color: #ce5e5d;
}
.pink-background {
  background-color: #ce5e5d;
}
// HES
.cyan {
  color: #4fa8e6;
}
.cyan-background {
  background-color: #4fa8e6;
}
.cyan-border {
  color: #4fa8e6;
  border-color: #4fa8e6;
}
.project-container.cyan-border:hover {
  color: white;
  background-color: #4fa8e6;
}
// UP4it
.green {
  color: #41d8ae;
}
.green-background {
  background-color: #41d8ae;
}
.green-border {
  color: #41d8ae;
  border-color: #41d8ae;
}
.project-container.green-border:hover {
  color: white;
  background-color: #41d8ae;
}
// VDS
.red {
  color: #ba162c;
}
.red-background {
  background-color: #ba162c;
}
.red-border {
  color: #ba162c;
  border-color: #ba162c;
}
.project-container.red-border:hover {
  color: white;
  background-color: #ba162c;
}
