@import '../../../variables';

:host {
  padding: $space-bigger $space-small;
  .paragraph {
    display: flex;
    gap: $space-bigger;
    margin-bottom: $space;
    align-items: center;
    .text,
    .image {
      flex: 1;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 600px) {
    .paragraph {
      display: block;
    }
  }
}
