<div class="top-line">
  <div class="line cyan-background"></div>
  <div class="point cyan-background"></div>
  <div class="line cyan-background"></div>
</div>
<div class="container">
  <div class="project-container">
    <div class="text">
      <div class="line">
        <div class="back tooltip" onclick="history.back()">
          <img src="./logo/GG_Racoon_Body.png" />
          <span class="tooltip-text">Back</span>
        </div>
      </div>
      <h1>{{ project.title }}</h1>

      <h5>
        <div class="subtitle-group">
          @if (project.date){
          <span>{{ project.date }}</span>
          } @if (project.subtitle){
          <span>{{ project.subtitle }}</span>
          }
        </div>
        @if (project.context){
        <span [ngClass]="color">{{ context }}</span>
        }
      </h5>
      <div class="buttons">
        @for(url of project.urls; track $index){
        <a href="{{ url.url }}" target="_blank" class="button">{{ url.text }}</a>
        }
      </div>

      <p class="intro-text" [innerHTML]="project.description"></p>
    </div>

    <div class="images">
      @for (image of project.images; track $index) { @if(image.url !== ""){
      <div class="image">
        @if(image.url.endsWith(".mp4")){
        <span>{{ image.text }}</span>
        <video autoplay loop controls>
          <source [src]="image.url" type="video/mp4" />
        </video>
        } @else{
        <span>{{ image.text }}</span>
        <img [src]="image.url" onerror="this.style.visibility = 'hidden'" />
        }
      </div>
      } }
    </div>
  </div>
</div>
