:host {
  .container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 80vh; //how fill page
    padding: 20px;
  }

  .project-container {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 600px) {
    .project-container {
      flex-direction: column;
    }
  }

  .back {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    img {
      height: 20px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  .subtitle-group {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .text {
    flex: 1;
  }
  .images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .image {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img,
      video {
        max-height: 80vh;
        width: 100%;
      }
    }
  }
}
