:host {
  .container {
    display: flex;
    min-height: 75vh; //how fill page

    padding: 20px;
  }
  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }

  .text {
    flex-grow: 1;
  }
  .images {
    flex-grow: 1;
    max-width: 50vw;
    img {
      width: 100%;
    }
  }
}
