@use '@angular/material' as mat;

@use 'variables' as *;

// MATERIAL (for tootlip)
html {
  //height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: numans,
      density: 0,
    )
  );
}
body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: $background; //var(--mat-sys-surface);
  color: $on-background; //var(--mat-sys-on-surface);
  //font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  //margin: 0;
  //height: 100%;
}
// END OF MATERIAL

/* global styles */
html {
  height: 100svh;
}
body {
  width: 100svw;
  margin: 0;
  padding: 0;
  box-sizing: border-box; // To not do math
  // font-family: 'tosh-a';
  font-family: 'tosh-a', sans-serif;
  font-size: $space;
  // font-size: $space;
  // line-height: $space;
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  text-decoration: underline;
}

li a:hover,
h5 a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-block-start: 0.5em;
  // margin-block-end: 0.5em;

  font-weight: bold;
  margin-block: 0;
  line-height: 1.2em;
}

h5,
h6 {
  font-weight: normal;
}

ul {
  list-style-type: square;
}

.page {
  display: flex;
  flex-direction: column;
  padding: $space;
  max-width: 1200px;
  margin: 0 auto;
}

.no-size {
  width: 0;
  height: 0;
  z-index: 1; // over background
}
.sticky {
  position: sticky;
  top: 0;
}

// ! button (link)
.button {
  height: 100%;
  filter: grayscale(100%);
  opacity: 50%;
  cursor: pointer;
}
.button:hover {
  filter: grayscale(0);
  opacity: 100%;
}

// ! back button
.back {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  opacity: 50%;

  img {
    height: $space;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
.back:hover {
  filter: grayscale(0);
  opacity: 100%;
}

// ! custom tooltip (back button)-------------------------------
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 0 $space-smallest;
  position: absolute;
  z-index: 100; /* Ensure tooltip is displayed above content */
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

// ! COLORS -------------------------------
.black {
  color: $on-background;
}
.black-background {
  background-color: $on-background;
  color: $background;
}
.black-border {
  color: $on-background;
  border-color: $on-background;
}

// Blue
.blue {
  color: $blue;
  stroke: $blue;
}
.blue-background {
  background-color: $blue;
  color: $background;
}
.blue-border {
  color: $blue;
  border-color: $blue;
}
// Pink
.pink {
  color: $pink;
}
.pink-background {
  background-color: $pink;
  color: $background;
}
.pink-border {
  color: $pink;
  border-color: $pink;
}
// Cyan
.cyan {
  color: $cyan;
}
.cyan-background {
  background-color: $cyan;
  color: $background;
}
.cyan-border {
  color: $cyan;
  border-color: $cyan;
}
// Green
.green {
  color: $green;
}
.green-background {
  background-color: $green;
  color: $background;
}
.green-border {
  color: $green;
  border-color: $green;
}
// Red
.red {
  color: $red;
}
.red-background {
  background-color: $red;
  color: $background;
}
.red-border {
  color: $red;
  border-color: $red;
}
// Purple
.purple {
  color: $purple;
}
.purple-background {
  background-color: $purple;
  color: $background;
}
.purple-border {
  color: $purple;
  border-color: $purple;
}

// Beige
.beige {
  color: $beige;
}
.beige-background {
  background-color: $beige;
  color: $background;
}
.beige-border {
  color: $beige;
  border-color: $beige;
}

// Orange
.orange {
  color: $orange;
}
.orange-background {
  background-color: $orange;
  color: $background;
}
.orange-border {
  color: $orange;
  border-color: $orange;
}
