$space-smallest: 4px;
$space-small: 8px;
$space: 16px;
$space-big: 24px;
$space-bigger: 32px;
$space-biggest: 64px;
$space-giant: 72px;
$space-gargantua: 128px;

$month: $space-bigger;
$year: calc($month * 12);
$width-line: $space-small;
$app-bar-height: min(10vw, $space-bigger);
$page-margin: $space;
$page-gap: $space-smallest;
//calc((100svw - calc(2 * $page-margin) - calc(4 * $page-gap)) / 5);
$column-width: calc(100svw / 3 - (2 * $page-margin) - (4 * $page-gap));
$head-width: min($column-width, 200px);

$background: #ffffff;
$on-background: #000000;
$red: #eb364b;
$purple: #e647c6;
$pink: #8f2be7;
$beige: #ffdb28;
$cyan: #17bdb7;
$blue: #0f87e4;
$green: #4bca47;
$orange: #f28200;

// Pastel
// $red: #f77d8c;
// $purple: #c6a0f6;
// $pink: #df8fc1;
// $beige: #f6d897;
// $cyan: #90c6c4;
// $blue: #80a7fe;
// $green: #9fe58a;
// $orange: #ffa875;

// Common breakpoints
// 1280, 1024, 768
// media with tactile --> pointer: coarse
// font size: clamp(min, preferred, max)
