$space-smallest: 4px;
$space-small: 8px;
$space: 16px;
$space-big: 24px;
$space-bigger: 32px;
$space-biggest: 64px;
$space-giant: 72px;
$space-gargantua: 128px;

$month: $space-bigger;
$year: calc($month * 12);
$width-line: $space-small;
$app-bar-height: min(10vw, $space-bigger);
$page-margin: $space;
$page-gap: 0;
$column-width: calc(100svw / 5);
//calc((100svw - calc(2 * $page-margin) - calc(4 * $page-gap)) / 5);

$background: #ffffff;
$on-background: #000000;
$blue: #354be2;
$pink: #db66a7; // #ce5e5d;
$cyan: #4fa8e6;
$green: #41d8ae;
$red: #ba162c;
$purple: #ba78e8;
$beige: #c6c1b7;
$orange: #e56758;

// Common breakpoints
// 1280, 1024, 768
// media with tactile --> pointer: coarse
// font size: clamp(min, preferred, max)
