$space-smallest: 4px;
$space-small: 8px;
$space: 16px;
$space-big: 24px;
$space-bigger: 32px;
$space-biggest: 64px;
$space-giant: 72px;
$space-gargantuan: 128px;

$month: $space;
$year: calc($month * 12);
$width-line: calc($month/2);
$app-bar-height: min(10vw, $space-big);
